header h1 {
  font-family: "Simonetta";
  display: flex;
  justify-content: center;
  margin: 1rem 1rem;
}

h1 {
  text-shadow: 2px 2px #86afd1;
}

img {
  width: 50%;
  height: 50%;
  box-shadow: 2rem 2rem #aad7fc;
}

#img-div .container {
  display: flex;
  justify-content: center;
}

#img-div figcaption {
  display: flex;
  justify-content: center;
}

figcaption {
  font-family: "Simonetta";
}

#tribute-info h2 {
  font-family: "Simonetta";
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 3rem;
}

#tribute-info blockquote {
  font-family: "Simonetta";
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
  margin: 3rem 4rem;
}

#tribute-info p {
  font-family: "Simonetta";
  font-size: 1.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 2rem;
}

#tribute-info p .special {
  font-family: "Simonetta";
  font-size: 1.5rem;
  display: flex;
  color: pink;
  justify-content: center;
}

li {
  font-family: "Simonetta";
  font-size: 1.6rem;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 2rem 5rem;
}
